.App {
  text-align: center;background-color: #597cfe;
}

.App-logo {
  height:350px;
  display: grid;
	place-items: center;

	 background-color: #ffde59;border-radius: 100%;
}
.white{
  height: 450px;
}



.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: row;flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
